.js-custom-element {
    font-size: 5px;
    color: #e41414 !important;
    background-color: #0f0e0ef2;
    position: fixed;
    top: 0;
    left: -45px;
    height: 100%;
    width: 50px;
    z-index: 999999;
}

.image {
    height: 30px;
    width: 30px;
    margin: 10px 5px 7px 10px;
}

.addbut {
    position: fixed;
    overflow: hidden;
    bottom: 0px;
    height: 0px;
    width: 0px;
    margin: 10px 5px 10px 5px;
    background-color: #e41414;
}